<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>notice_list_table_view_cell</key>
	<dict>
		<key>title_color</key>
		<string>0x333333</string>
		<key>line_view_color</key>
		<string>0x979797#0.5</string>
		<key>date_color</key>
		<string>0x9B9B9B</string>
	</dict>
	<key>group_organization_select_vc</key>
	<dict>
		<key>search_cancel_button_text_color</key>
		<string>0x333333</string>
	</dict>
	<key>skin_show_mask_view</key>
	<dict>
		<key>progress_tint_color</key>
		<string>0x5FB5ED </string>
		<key>progress_back_color</key>
		<string>0x666161</string>
		<key>view_back_color</key>
		<string>0x000000#0.5</string>
		<key>s_btn_back_color</key>
		<string>0x023B90 </string>
		<key>u_text_color</key>
		<string>0xffffff</string>
		<key>u_btn_back_color</key>
		<string>0xffffff#0.15</string>
		<key>s_text_color</key>
		<string>0xffffff</string>
	</dict>
	<key>group_notice_cell</key>
	<dict>
		<key>name_color</key>
		<string>0x000000</string>
		<key>time_text_color</key>
		<string>0x939393</string>
	</dict>
	<key>skin_collection_view_cell</key>
	<dict>
		<key>text_color</key>
		<string>0x000000</string>
	</dict>
	<key>skin_manage_vc</key>
	<dict>
		<key>header_text_color</key>
		<string>0x000000</string>
		<key>header_back_color</key>
		<string>0xffffff</string>
	</dict>
	<key>home_page_vc</key>
	<dict>
		<key>notice_back_color</key>
		<string>0xffffff</string>
		<key>back_color</key>
		<string>0xF3F3F8</string>
		<key>top_back_color</key>
		<string>0x003B8F</string>
		<key>middle_back_color</key>
		<string>0x003B8F</string>
		<key>bottom_back_color</key>
		<string>0xF3F3F8</string>
		<key>line_view_color</key>
		<string>0x2B6FCC</string>
		<key>title_text_color</key>
		<string>0x000000</string>
		<key>common_manage_text_color</key>
		<string>0x4A90E2</string>
		<key>search_text_color</key>
		<string>0xffffff</string>
	</dict>
	<key>sgtapp_qrcode_vc</key>
	<dict>
		<key>back_color</key>
		<string>0xffffff</string>
		<key>text_color</key>
		<string>0x666666</string>
	</dict>
	<key>version_cell</key>
	<dict>
		<key>left_label_color</key>
		<string>0x333333</string>
	</dict>
	<key>me_setting_vc</key>
	<dict>
		<key>out_title_color</key>
		<string>0xF52731</string>
		<key>out_back_color</key>
		<string>0xffffff</string>
	</dict>
	<key>me_details_cell</key>
	<dict>
		<key>position_view_back_color</key>
		<string>0xDBEAFF</string>
		<key>left_company_color</key>
		<string>0x999999</string>
		<key>left_name_color</key>
		<string>0x09254E</string>
		<key>left_position_color</key>
		<string>0x3276D9</string>
		<key>top_back_color</key>
		<string>0xF4F9FF</string>
		<key>middle_back_color</key>
		<string>0xF6FAFF</string>
		<key>bottom_back_color</key>
		<string>0xEBF3FF</string>
	</dict>
	<key>group_manage_vc</key>
	<dict>
		<key>back_color</key>
		<string>0xF7F7F7</string>
		<key>separator_color</key>
		<string>0xEBEBEB</string>
	</dict>
	<key>rcsticker_message_cell</key>
	<dict>
		<key>loadingfailed</key>
		<string>0xF7F7F7</string>
	</dict>
	<key>sgtcus_tom_emo_view</key>
	<dict>
		<key>collection_backcolor</key>
		<string>0xF3F3F3</string>
		<key>backgroundColor</key>
		<string>0xF3F3F3</string>
	</dict>
	<key>sgt_file_table_view_cell</key>
	<dict>
		<key>detail_color</key>
		<string>0xBABABA</string>
		<key>name_color</key>
		<string>0x4A4A4A</string>
		<key>back_color</key>
		<string>0xffffff</string>
	</dict>
	<key>sgtsmsverification_vc</key>
	<dict>
		<key>describe_color</key>
		<string>0x999999</string>
		<key>phoneColor</key>
		<string>0x333333</string>
		<key>codeview_backcolor</key>
		<string>0x014BB6</string>
		<key>code_textColor</key>
		<string>0xffffff</string>
		<key>sure_backcolor_n</key>
		<string>0x94B2DE</string>
		<key>sure_backcolor_s</key>
		<string>0x014BB6</string>
		<key>cell_text_olor</key>
		<string>0x003B90</string>
		<key>time_codeview_backcolor</key>
		<string>0xffffff</string>
		<key>time_code_textColor</key>
		<string>0x003B90</string>
		<key>cursor_color</key>
		<string>0x999999</string>
	</dict>
	<key>contacts_view</key>
	<dict>
		<key>divider</key>
		<string>0xD2D2D2</string>
		<key>title_color</key>
		<string>0x333333</string>
	</dict>
	<key>gesture_lock_verify_vc</key>
	<dict>
		<key>change_mode_button_color</key>
		<string>0x666666</string>
	</dict>
	<key>gesture_pswd_safe_verify_vc</key>
	<dict>
		<key>line_selected</key>
		<string>0x3A91F3</string>
		<key>line_unselect</key>
		<string>0xE7E7E7</string>
	</dict>
	<key>location_message_cell</key>
	<dict>
		<key>text_color</key>
		<string>0x333333</string>
	</dict>
	<key>gesture_lock_config</key>
	<dict>
		<key>text_blue</key>
		<string>0x368ae8</string>
		<key>phone_number</key>
		<string>0x262626</string>
		<key>color_error</key>
		<string>0xf11b1b</string>
		<key>color_normal</key>
		<string>0x3a91f3</string>
		<key>text_normal</key>
		<string>0x939393</string>
	</dict>
	<key>base_web_vc</key>
	<dict>
		<key>network_error</key>
		<string>0x939393</string>
	</dict>
	<key>pindetail_view</key>
	<dict>
		<key>time_color</key>
		<string>0x939393</string>
		<key>detail_color</key>
		<string>0x939393</string>
		<key>name_color</key>
		<string>0x262626</string>
	</dict>
	<key>multy_company_collection_cell</key>
	<dict>
		<key>selected_tag</key>
		<string>0x3A91F3</string>
		<key>unselect_tag</key>
		<string>0xE1E1E1</string>
		<key>selected_company_name</key>
		<string>0x262626</string>
		<key>unselect_company_name</key>
		<string>0x939393</string>
	</dict>
	<key>duty_name_select_cell</key>
	<dict>
		<key>subordinate_button_normal</key>
		<string>0x3a91f3</string>
		<key>line_view_normal</key>
		<string>0xc2c2c2</string>
		<key>number_label_normal</key>
		<string>0x939393</string>
		<key>name_label_normal</key>
		<string>0x262626</string>
	</dict>
	<key>org_detail_select_cell</key>
	<dict>
		<key>subordinate_button_normal</key>
		<string>0x3a91f3</string>
		<key>line_view_normal</key>
		<string>0xc2c2c2</string>
		<key>number_label_normal</key>
		<string>0x939393</string>
		<key>name_label_normal</key>
		<string>0x262626</string>
	</dict>
	<key>group_notice_list_vc</key>
	<dict>
		<key>edit_group_notice_title</key>
		<string>0xffffff</string>
		<key>edit_group_notice_background_color</key>
		<string>0x368AE8</string>
		<key>cant_edit_group_notice_title</key>
		<string>0x666666</string>
	</dict>
	<key>approval_message_cell</key>
	<dict>
		<key>approving_status_text_color</key>
		<string>0xf2A77DF</string>
		<key>title_text_color</key>
		<string>0xff7a00</string>
		<key>content_text_color</key>
		<string>0x262626</string>
		<key>time_text_color</key>
		<string>0x999999</string>
		<key>refuse_status_text_color</key>
		<string>0xf25d50</string>
		<key>agree_status_text_color</key>
		<string>0x55c940</string>
		<key>none_status_text_color</key>
		<string>0x2a77df</string>
	</dict>
	<key>pinvc</key>
	<dict>
		<key>pin_empty_text_color</key>
		<string>0x939393</string>
	</dict>
	<key>pinattachment_detail_vc</key>
	<dict>
		<key>download_button_border_color</key>
		<string>0x0181dd</string>
		<key>progress_tint_color</key>
		<string>0x0099ff</string>
		<key>size_label_color</key>
		<string>0xa8a8a8</string>
		<key>name_label_color</key>
		<string>0x343434</string>
	</dict>
	<key>search_background_view</key>
	<dict>
		<key>history_text_color</key>
		<string>0x333333</string>
	</dict>
	<key>contact_friend_cell</key>
	<dict>
		<key>accept_string_color</key>
		<string>0x3A91F3</string>
		<key>accept_finish_string_color</key>
		<string>0x939393</string>
	</dict>
	<key>my_profile_vc</key>
	<dict>
		<key>clicked_string_color</key>
		<string>0x3A91F3</string>
	</dict>
	<key>pindetail_vc</key>
	<dict>
		<key>confirm_button_backgroud_color</key>
		<string>0x368ae8</string>
	</dict>
	<key>pincell</key>
	<dict>
		<key>pin_cell_line_color</key>
		<string>0xD4D4D4</string>
		<key>pin_cell_confirm_button_color</key>
		<string>0x3A91F3</string>
		<key>pin_cell_title_color</key>
		<string>0x939393</string>
		<key>pin_confirm_cell_color</key>
		<string>0xffffff</string>
		<key>pin_unconfirm_cell_color</key>
		<string>0xdbeefb</string>
		<key>pin_content_color</key>
		<string>0x262626</string>
	</dict>
	<key>date_picker_view</key>
	<dict>
		<key>show_year_text_color</key>
		<string>0xEDF1F5</string>
		<key>date_picker_backgroud_color</key>
		<string>0x000000#0.4</string>
	</dict>
	<key>group_member_list_vc</key>
	<dict>
		<key>searchbar_background_color</key>
		<string>0xF2F2F3</string>
	</dict>
	<key>single_file_preview_controller</key>
	<dict>
		<key>download_button_border_color</key>
		<string>0x0181dd</string>
		<key>progress_tint_color</key>
		<string>0x0099ff</string>
		<key>size_label_color</key>
		<string>0xa8a8a8</string>
		<key>name_label_color</key>
		<string>0x343434</string>
	</dict>
	<key>chat_vc</key>
	<dict>
		<key>chatSession_color</key>
		<string>0xF8F8F8</string>
		<key>message_text_color</key>
		<string>0xffffff</string>
		<key>message_back_color</key>
		<string>0xffffff#0.15</string>
		<key>watermark_text_color</key>
		<string>0xDCDEDF</string>
		<key>collectionView_backColor</key>
		<string>0xF2F2F3</string>
		<key>unreadLabel_text_color</key>
		<string>0x3a91f3</string>
		<key>hasReadLabel_text_color</key>
		<string>0x9b9b9b</string>
	</dict>
	<key>group_deselect_cell</key>
	<dict>
		<key>name_label_color</key>
		<string>0x262626</string>
		<key>depart_label_color</key>
		<string>0x939393</string>
	</dict>
	<key>forward_alert_view</key>
	<dict>
		<key>line_color</key>
		<string>0xe5e5e5</string>
		<key>title_label_color</key>
		<string>0x262626</string>
		<key>confirm_button_color</key>
		<string>0x4093f0</string>
		<key>cancle_button_color</key>
		<string>0x262626</string>
		<key>alert_canncel_black</key>
		<string>0x262626</string>
	</dict>
	<key>kick_group_member_vc</key>
	<dict>
		<key>del_button_disable_color</key>
		<string>0xb2b2b2</string>
		<key>searchbar_background_color</key>
		<string>0xF2F2F3</string>
		<key>separator_line_color</key>
		<string>0xC2C2C2</string>
		<key>del_button_title_color</key>
		<string>0x3a91f3</string>
		<key>del_button_background_color</key>
		<string>0xFFFFFF</string>
	</dict>
	<key>group_delete_bottom</key>
	<dict>
		<key>del_button_disable_color</key>
		<string>0xb2b2b2</string>
		<key>searchbar_background_color</key>
		<string>0xF2F2F3</string>
		<key>separator_line_color</key>
		<string>0xC2C2C2</string>
		<key>del_button_title_color</key>
		<string>0x3a91f3</string>
		<key>del_button_background_color</key>
		<string>0xFFFFFF</string>
	</dict>
	<key>chat_list_vc</key>
	<dict>
		<key>topcell_background_color</key>
		<string>0xf5f5f5</string>
		<key>cell_unreadtitle_color</key>
		<string>0x3a91f3</string>
		<key>cell_hasreadtitle_color</key>
		<string>0x9b9b9b</string>
		<key>unreadPrivateCountLabel_color</key>
		<string>0xf43530</string>
	</dict>
	<key>contacts_cell</key>
	<dict>
		<key>divider</key>
		<string>0xe3e3e3</string>
		<key>name_text_color</key>
		<string>0x262626</string>
	</dict>
	<key>group_cell</key>
	<dict>
		<key>number_text_color</key>
		<string>0x939393</string>
		<key>name_text_color</key>
		<string>0x262626</string>
	</dict>
	<key>group_setting_vc</key>
	<dict>
		<key>del_and_quite_color</key>
		<string>0xE35454</string>
	</dict>
	<key>group_members_cell</key>
	<dict>
		<key>number_label_font_color</key>
		<string>0x939393</string>
	</dict>
	<key>personal_profile_footer_view</key>
	<dict>
		<key>video_chat_button_title_color</key>
		<string>0x262626</string>
		<key>video_chat_button_background_color</key>
		<string>0xFFFFFF</string>
	</dict>
	<key>personal_profile_vc</key>
	<dict>
		<key>clicked_string_color</key>
		<string>0x3A91F3</string>
		<key>company_string_color</key>
		<string>0x939393</string>
	</dict>
	<key>organization_select_cell</key>
	<dict>
		<key>subordinate_button_normal</key>
		<string>0x3a91f3</string>
		<key>line_view_normal</key>
		<string>0xc2c2c2</string>
		<key>number_label_normal</key>
		<string>0x939393</string>
		<key>name_label_normal</key>
		<string>0x262626</string>
	</dict>
	<key>company_select_cell</key>
	<dict>
		<key>subordinate_button_normal</key>
		<string>0x3a91f3</string>
		<key>line_view_normal</key>
		<string>0xc2c2c2</string>
		<key>number_label_normal</key>
		<string>0x939393</string>
		<key>name_label_normal</key>
		<string>0x262626</string>
	</dict>
	<key>group_member_deselect_vc</key>
	<dict>
		<key>selected_confirm_button_nomal</key>
		<string>0x3A91F3</string>
		<key>selected_confim_button_disabled</key>
		<string>0x939393</string>
	</dict>
	<key>contact_deselect_cell</key>
	<dict>
		<key>depart_label_color</key>
		<string>0x939393</string>
		<key>name_label_color</key>
		<string>0x262626</string>
	</dict>
	<key>organization_deselect_cell</key>
	<dict>
		<key>depart_label_color</key>
		<string>0x939393</string>
		<key>name_label_color</key>
		<string>0x262626</string>
	</dict>
	<key>select_contacts_controller</key>
	<dict>
		<key>selected_users_button_disabled</key>
		<string>0x1111111</string>
		<key>selected_users_button_normal</key>
		<string>0x1111111</string>
	</dict>
	<key>contacts_navi_cell</key>
	<dict>
		<key>navi_label_text_color_enabled</key>
		<string>0x3A91F3</string>
		<key>navi_label_text_color_disabled</key>
		<string>0x939393</string>
	</dict>
	<key>search_more_cell</key>
	<dict>
		<key>more_text</key>
		<string>0x7ca1c9</string>
	</dict>
	<key>search_bar</key>
	<dict>
		<key>search_field_border_color</key>
		<string>0xc2c2c2</string>
	</dict>
	<key>common</key>
	<dict>
		<key>favorit_search_text_color</key>
		<string>0x0A55BB</string>
		<key>switch_tint_color</key>
		<string>0x4A90E2</string>
		<key>search_placeholder_color</key>
		<string>0xFFFFFF#0.7</string>
		<key>loginbtn_title_color</key>
		<string>0xffffff</string>
		<key>loginbtn_title_color_unclick</key>
		<string>0xCECECE</string>
		<key>loginbtn_back_color</key>
		<string>0x023B90</string>
		<key>loginbtn_back_color_unclick</key>
		<string>0xF2F2F2 </string>
		<key>net_work_error</key>
		<string>0x3377DA</string>
		<key>net_error_backcolor</key>
		<string>0xF2F2F3</string>
		<key>view_back_color</key>
		<string>0xF6F6F6</string>
		<key>navi_bar_title_color</key>
		<string>0xFFFFFF</string>
		<key>navi_bar_back_color</key>
		<string>0x003B90</string>
		<key>ling_code_color</key>
		<string>0x2972AB</string>
		<key>blue_text_color</key>
		<string>0x368ae8</string>
		<key>org_section_title</key>
		<string>0xa4a4a4</string>
		<key>watermark_text_color</key>
		<string>0xEAEAEA</string>
		<key>rce_logo_color</key>
		<string>0x4A4A4A </string>
		<key>sg_company_color</key>
		<string>0x9B9B9B</string>
		<key>group_tag_text_color</key>
		<string>0xFFFFFF</string>
		<key>group_tag_back_color</key>
		<string>0xFF7D00</string>
		<key>history_text_color</key>
		<string>4a4a4a</string>
		<key>version_update_button_background_color</key>
		<string>0x3A91F3</string>
		<key>footer_background_color</key>
		<string>0xf0f0f6</string>
		<key>file_descripe_label_color</key>
		<string>0x939393</string>
		<key>file_title_color</key>
		<string>0x262626</string>
		<key>send_message_button_background_color</key>
		<string>0x005BC7</string>
		<key>send_message_button_title_color</key>
		<string>0xFFFFFF</string>
		<key>approvalTextColor</key>
		<string>0xf2A77DF</string>
		<key>backgroundcolor</key>
		<string>0xF7F7F7</string>
		<key>cell_selectBackground_view_color</key>
		<string>0xf5f5f5</string>
		<key>cell_dep_color</key>
		<string>0x9B9B9B</string>
		<key>company_string_color</key>
		<string>0x939393</string>
		<key>sention_color</key>
		<string>0xF5F5F5</string>
		<key>register_title</key>
		<string>0x72A6F5</string>
		<key>country_searchBar_color</key>
		<string>0xE4E5E7</string>
		<key>sectionIndex_color</key>
		<string>0x2B73EB</string>
		<key>tableView_header_color</key>
		<string>0x808080</string>
		<key>title_color</key>
		<string>0xABABAB</string>
		<key>underLine_color</key>
		<string>0xB2B2B2</string>
		<key>errorMessage_color</key>
		<string>0xE64F45</string>
		<key>errorMessage_blue_color</key>
		<string>0x107EFE</string>
		<key>textField_placeholder_color - 2</key>
		<string>0xC8C7CC</string>
		<key>textField_color</key>
		<string>0x262626</string>
		<key>code_unclick_color</key>
		<string>0xE5E5E5</string>
		<key>code_click_color</key>
		<string>0x3A91F3</string>
		<key>code_color</key>
		<string>0xC8C7CC</string>
		<key>blue_color</key>
		<string>0x96c4ec</string>
		<key>label_disable_color</key>
		<string>0x003B90</string>
		<key>tableview_headerview_background_color</key>
		<string>0xFFFFFF</string>
		<key>tableview_separator_color</key>
		<string>0xE3E3E3</string>
		<key>tableview_background_color</key>
		<string>0xF7F7F7</string>
		<key>cell_right_label_color</key>
		<string>0x939393</string>
		<key>cell_left_label_color</key>
		<string>0x262626</string>
		<key>me_momentsCell_redPoint_color</key>
		<string>0xfe0000</string>
		<key>setting_background_color</key>
		<string>0xF2F2F3</string>
		<key>default_text_color</key>
		<string>0x123232</string>
		<key>search_navi_background_color</key>
		<string>0xF7F7F7</string>
		<key>search_navi_title_color</key>
		<string>0x4A90E2</string>
		<key>navi_background_color</key>
		<string>0xf5f5f6</string>
		<key>navi_title_color</key>
		<string>0xffffff</string>
		<key>navi_onlineStatus_text_color</key>
		<string>0xffffff</string>
		<key>textField_placeholder_color</key>
		<string>0x939393</string>
		<key>label_text_color</key>
		<string>0x4A4A4A</string>
		<key>login_little_button_color</key>
		<string>0x999999</string>
		<key>login_bottom_label_color</key>
		<string>0x484848</string>
		<key>navi_tint_color</key>
		<string>0xffffff</string>
		<key>navi_lookup_color</key>
		<string>0x0068B7</string>
		<key>navi_search_tint_color</key>
		<string>0x0A55BB</string>
		<key>navi_tint_disable_color</key>
		<string>0x3a91f3#0.4</string>
		<key>cell_text_main_color</key>
		<string>0x262626</string>
		<key>cell_text_next_color</key>
		<string>0x939393</string>
		<key>cell_text_details_color</key>
		<string>0x939393</string>
		<key>label_color</key>
		<string>0x4A4A4A</string>
		<key>groupTag_text_color</key>
		<string>0x12A7ED</string>
		<key>tableView_separator_Color</key>
		<string>0xEBEBEB</string>
		<key>searchText_highlight_color</key>
		<string>0x0099ff</string>
		<key>empty_common_color</key>
		<string>0x999999</string>
		<key>search_bar_cancle_color</key>
		<string>0x4A4A4A</string>
		<key>search_cancel_button_text_color</key>
		<string>0xffffff</string>
		<key>segmentControl_background_color</key>
		<string>0x3a91f3</string>
		<key>segmentControl_background_color_change</key>
		<string>0x296DCD</string>
		<key>segmentControl_select_text_color</key>
		<string>0xffffff</string>
		<key>search_field_back_color</key>
		<string>0xffffff#0.15</string>
		<key>search_field_text_color</key>
		<string>0xffffff</string>
		<key>segmentControl_unselect_text_color</key>
		<string>0x9B9B9B</string>
		<key>unselected_color</key>
		<string>0x53575B</string>
		<key>selected_color</key>
		<string>0x003B8F</string>
		<key>collectionview_background_color</key>
		<string>0xFFFFFF</string>
		<key>topline_backgroundcolor</key>
		<string>0xc2c2c2</string>
		<key>selected_users_resultbutton_normal</key>
		<string>0xb2b2b2</string>
		<key>selected_users_confirmbutton_normal</key>
		<string>0xb2b2b2</string>
		<key>selected_users_view_selected</key>
		<string>0x3a91f3</string>
		<key>line_color</key>
		<string>0xd8d8d8</string>
		<key>alert_canncel_black</key>
		<string>0x262626</string>
		<key>configure_delete</key>
		<string>0x777777</string>
	</dict>
	<key>secret_chat_list_vc</key>
	<dict>
		<key>cell_hasreadtitle_color</key>
		<string>0x9b9b9b</string>
		<key>cell_unreadtitle_color</key>
		<string>0x3a91f3</string>
		<key>topcell_background_color</key>
		<string>0xf3f9fe</string>
	</dict>
	<key>secret_chat_vc</key>
	<dict>
		<key>maskLabel_color_blue</key>
		<string>0x368ae8</string>
		<key>maskLabel_color_gray</key>
		<string>0x5f5f5f</string>
		<key>chatSession_color</key>
		<string>0xF8F8F8</string>
		<key>watermark_text_color</key>
		<string>0xDCDEDF</string>
		<key>collectionView_backColor</key>
		<string>0xF2F2F3</string>
		<key>unreadLabel_text_color</key>
		<string>0x3a91f3</string>
		<key>hasReadLabel_text_color</key>
		<string>0x9b9b9b</string>
	</dict>
	<key>secret_conversation_empty_view</key>
	<dict>
		<key>desc_text_color</key>
		<string>0x9e9e9e</string>
		<key>start_button_back_color</key>
		<string>0x368ae8</string>
		<key>text_color_normal</key>
		<string>0x636363</string>
	</dict>
	<key>alert_picker_controller</key>
	<dict>
		<key>title_color_normal</key>
		<string>0x939393</string>
		<key>title_color</key>
		<string>0x3a91f3</string>
	</dict>
	<key>favorite_detail_vc</key>
	<dict>
		<key>voice_icon_color</key>
		<string>0xf3f3f3</string>
	</dict>
	<key>favorite_search_vc</key>
	<dict>
		<key>search_type_color</key>
		<string>0x949499</string>
	</dict>
</dict>
</plist>
